{% extends "base.html.twig" %}

{% block title %}add Movies{% endblock %}

{% block head %}

{% endblock %}

{% block content %}

  <h3>Film ajouté !</h3>

  <a class="lien" href="http://localhost:8090/mvcobjet/movies">Retour aux Films</a>

{% endblock %}