{% extends "base.html.twig" %}

{% block title %}add Movies{% endblock %}

{% block head %}

{% endblock %}

{% block content %}

  <form action="" method="POST">
    <input type="text" name="title" placeholder="titre">
  </form>

{% endblock %}