{% extends "base.html.twig" %}

{% block title %}Films{% endblock %}

{% block head %}

{% endblock %}


{% block content %}
<div class="films">
 {% for film in films %}
 <div class="film">
    {{ film.title }} &nbsp;
    <div>
        <img src="{{ film.coverImage }}" height="400">
    </div>

    <a href="http://localhost:8090/mvcobjet/movie/{{ film.id }}" class="lien">Voir</a>
</div>
{% endfor %}
   </div>
{% endblock %}

