{% extends "base.html.twig" %}

{% block title %}Ajouter un film{% endblock %}

{% block head %}

{% endblock %}


{% block content %}
    <h1>Ajouter un film</h1>

    <form action="http://localhost:8090/mvcobjet/addMovie" method="POST">
        <input type="text" name="title" placeholder="Titre">
        <input type="text" name="description" placeholder="Description">
        <input type="text" name="duration" placeholder="Durée">
        <input type="date" name="date" placeholder="Date">
        <input type="text" name="cover_image" placeholder="Lien de l'image">
        <select name="genre_id">
            <option value="1">Comédie</option>
            <option value="2">Drame</option>
            <option value="3">Science Fiction</option>
        </select>
        <select name="director_id">
            <option value="1">David Fincher</option>
            <option value="2">Robert Zemeckis</option>
            <option value="3">Frank Darabont</option>
            <option value="4">Lana Wachowski</option>
        </select>
        <input type="submit">
    </form>

{% endblock %}